    
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487988828885'); /* IE9*/
  src: url('iconfont.eot?t=1487988828885#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487988828885') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487988828885') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487988828885#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e60a"; }

.icon-yixin:before { content: "\e609"; }

.icon-qqkongjian:before { content: "\e65d"; }

.icon-xinlang-copy:before { content: "\e600"; }








    body,p,div,h1,h2,h3,h4,h5,h6,ul,dl,ol,dt,dd,li,a,span {
     font-size: 12px;
     font-family: 宋体;
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
    }
    input,img {
     border: 0 none;
     outline-style: none;
     margin: 0;
     padding: 0;
    }

    .clearfix:after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    }
    .clearfix {
     zoom: 1; 
    }
    .w{
    width: 1366px;
    margin: 0 auto;
	}

/*清除默认样式*/
/*头部开始*/
#top{
    background-color: #fbfbfb;
}
#top-main{
    height: 55px;
    overflow: hidden;

}
#top-main .logo{
    width: 133px;
    height: 44px;
    margin-top: 6px;
    margin-left: 200px;
    background: url("img/logo1.png") no-repeat;
    display: block;
    float: left;
}
#top-main .right{

    float: right;
    height: 55px;
    line-height: 52px;
}
/*#top-main .right .one{*/

/*}*/
#top-main .right div{
    float: left;
    padding: 0 12px;
    font-size: 12px;
}
#top-main .right #one:hover{
    border-bottom: 3px solid #bc2e2e;
}
#top-main .right div a {
    display: block;

}
#top-main .right div a:hover{
    border-bottom: 3px solid #bc2e2e;
    color: #bc2e2e!important;
    background-color: #F3F3F3;
    background-image: -webkit-linear-gradient(top,#F3F3F3 0,#FEFEFE 52px);
}

/*头部结束  */

/*nav开始*/
.nav{
	width: 1580px;
	height:65px;
	background-color: #080915;
}
.nav-in{
    width: 1230px;
    height: 65px;
    margin: 0 auto;
}
.nav-in ul{
	padding-top: 16px;
    float: left;
    width: 990px;
}
.nav-in li{
	float: left;
    width: 164px;
    height: 33px;
}
.nav-in  li a{
	display: block;
    padding-top: 7px;
    width: 100%;
    height: 26px;
    border-right: 1px dotted #8282bd;
    position: relative;
}
.nav-in em{
	position: absolute;
    width: 33px;
    height: 33px;
    top: 5px;
    left: 28px;
    opacity: 0;
    background-image: url(img/nav/sp.png);
    background-position: -816px -51px;
}
.nav-in i{
	display: inline-block;
    opacity: 0;
    background-image: url(img/nav/sp.png);
    background-position: -816px -51px;
}

.nav-in li span{
	display: block;
    height: 21px;
    margin: 0 auto;
    width: 80px;
    position: absolute;
    left: 50px;

}
.nav-in li .sup{
	position: absolute;
    width: 33px;
    height: 33px;
    top: 5px;
    left: 12px;
    visibility: visible;
    opacity: 1;
}
.nav-in li .one{background:url(img/nav/shouye.png);width: 37px;
}
.nav-in li .two{background:url(img/nav/zixun.png);}
.nav-in li .three{background:url(img/nav/tese.png);}
.nav-in li .four{background:url(img/nav/gonglue.png);width: 79px;}
.nav-in li .five{background:url(img/nav/tongren.png);width: 76px;}
.nav-in li .six{background:url(img/nav/luntan.png);}
.nav-in li .noborder{border-right: none;}


.nav .contain{
	margin-top: 18px;
    float: left;
    width: 231px;
    height: 34px;
    background: url(img/nav/icon.png);
}
.contain span{
	margin-left: 10px;
    margin-right: 3px;
    color: #fff;
    font-size: 14px;
    float: left;
    line-height: 33px;
}
.nav-in .contain .icon{
	margin-top: 4px;
    margin-left: 3px;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}
.nav-in .contain .qq{background-image: url(img/nav/sp.png);
background-position: -784px -150px;}
.nav-in .contain .wx{background-image: url(img/nav/sp.png);
background-position: -881px -51px;}
.nav-in .contain .wb{background-image: url(img/nav/sp.png);
background-position: -759px -150px;}
.nav-in .contain .tb{background-image: url(img/nav/sp.png);
background-position: -862px -124px;}
/*nav结束*/

/*banner开始*/
.banner .banner-bgc{
	width: 1580px;
	height: 847px;
	background:url(img/ban-bgi.jpg) no-repeat;
	position: relative;
	overflow: hidden;
}
.banner .banner-door1{
	height: 847px;
	width:790px; 
	background:url(img/door1.jpg) no-repeat -163px;
	position: absolute;
	left: -790px;
	float: right;
	
}
.banner .banner-door2{
	height: 847px;
	width:790px; 
	background:url(img/door2.jpg) no-repeat;
	position: absolute;
	right:-790px;
}
.banner .banner-cha{
	width: 1580px;
	height: 847px;
	background:url(img/cha.png) no-repeat 0 -80px;
	position: absolute;
	z-index: 5;
	opacity: 0;
	bottom: -927px;
}
.banner .banner-flower1{
	width: 1580px;
	height: 847px;
	background:url(img/flower.png) no-repeat;
	position: absolute;
	z-index: 7;
}
.banner .banner-flower2{
	width: 1580px;
	height: 847px;
	background:url(img/flower2.png) no-repeat;
	position: absolute;
	z-index: 7;
}
.banner .banner-clouds1{
	width: 397px;
	height: 166px;
	background:url(img/cloud1.png) no-repeat;
	position: absolute;
	z-index: 6;
	bottom: 20px;
	left: -40px;
}
.banner .banner-clouds2{
	width: 377px;
	height: 166px;
	background:url(img/cloud2.png) no-repeat;
	position: absolute;
	z-index: 6;
	top: 120px;
	right: -40px;
}
.banner .banner-logo{
	width: 79px;
	height: 260px;
	position: absolute;
	top: 120px;
	left: 0;
	background: url(img/logo.png) no-repeat;
	z-index: 10;
	opacity: 0;
}
.banner .slogon{
    position: absolute;
    top: 556px;
    left: 60%;
    margin-left: -393px;
    width: 786px;
    height: 132px;
    background:url(img/slogon.png) no-repeat;
    z-index: 8;
    opacity: 0;
}
#heart{
	display: inline-block;
	background-image: url(img/nav/sp.png);
	background-position: -560px -606px;
	width: 63px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 365px;
    top: 20px;
    cursor: pointer;
}
#theone{
	display: inline-block;
	background-image: url(img/nav/sp.png);
	background-position: -871px -150px;
	position: absolute;
    width: 13px;
    height: 21px;
    top: 22px;
    left: 28px;
    background-repeat: no-repeat;
}
.banner .download{
	width: 301px;
    height: 135px;
    background: url(img/download.png) no-repeat;
    float: left;
    position: relative;
    left: 50%;
    top: -240px;
    z-index: 8;
    opacity: 0;
}
.download .erweima {
	float: left;
    width: 109px;
    height: 109px;
    margin-top: 13px;
    margin-left: 8px;
}
.download .erweima img{
	width: 100%;
}
.download .down-icon{
	float: left;
    width: 175px;
    height: 120px;
    margin-left: 6px;
    margin-top: 13px;
}
.download .erweima .line {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 180px;
    width: 118px;
    height: 24px;
}
.download .down-icon .apps{
	display: block;
    margin-bottom: 5px;
    width: 171px;
    height: 51px;
    background-image: url(img/nav/sp.png);
    background-position: -142px -676px;
    background-repeat: no-repeat;
}
.download .down-icon .apps:hover{
	background-position: -313px -676px;
}
.download .down-icon .andd{
    display: block;
    margin-bottom: 5px;
    width: 171px;
    height: 51px;
    background-image: url(img/nav/sp.png);
    background-position: -484px -676px;
    background-repeat: no-repeat;
}
.download .down-icon .andd:hover{
	background-position: -734px 0px;
}
/*banner结束*/

/*第一介绍开始*/
.diyi{
	width: 1580px;
	height: 889px;
	background: url(img/1/beijing.jpg) no-repeat;
	position: relative;
}
.diyi .diyi-title{
	width: 531px;
	height: 98px;
	margin: 0 auto;
	background: url(img/1/biaoti.png) no-repeat;
	opacity: 0;
}
.diyi .diyi-intr{
	width: 700px;
	height: 548px;
	position: absolute;
	top:206px;
	left:243px;
	opacity: 0;
}
.diyi .diyi-intr img{
	display: inline-block;
	float: left;
}
.diyi-intr .diyi-intr-text{
	width: 700px;
	height: 141px;
	background: url(img/1/wenzibeijing.png) no-repeat;
	position: absolute;
	bottom: 0;
}
.diyi .diyi-pic{
	width: 490px;
	height: 727px;
    position: absolute;
    right:208px;
    top:89px;
    opacity: 0;
    background: url(img/1/renwu.png) no-repeat;
}
.diyi-intr-text p{
	color: #34241c;
    line-height: 24px;
    font-size: 14px;
    padding: 30px;
}
/*第一介绍结束*/

/*第二介绍开始*/
.dier{
	width: 1580px;
	height: 889px;
	background: url(img/2/beijing.jpg) no-repeat;
	position: relative;
	overflow: hidden;
}
.dier .dier-title{
	width: 531px;
	height: -98px;
	margin: 0 auto;
	background: url(img/2/biaoti.png) no-repeat;
}
.dier .dier-intr{
	width: 700px;
	height: 548px;
	position: absolute;
	top:206px;
	left:-800px;
	background: url(img/2/tubeijing.png) no-repeat;
}
.dier-intr p{
	line-height: 33px;
    color: #ba9f75;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 18px;
}
.dier .dier-intr img{
	display: inline-block;
	position: absolute;
	top:50px; 
	left:26px;
	border:3px solid white;

}
.dier .dier-pic{
	width: 490px;
	height: 727px;
    position: absolute;
    right:-500px;
    top:89px;
    background: url(img/2/renwu.png) no-repeat;
}
/*第二介绍结束*/

/*第三介绍开始*/
.disan{
	width: 1580px;
	height: 889px;
	background: url(img/3/beijing.jpg) no-repeat;
	position: relative;
}
.disan .disan-title{
	width: 597px;
	height: 99px;
	margin: 0 auto;
	background: url(img/3/biaoti.png) no-repeat;
	opacity: 0;
}
.disan .disan-intr{
	width: 1300px;
	height: 425px;
	position: absolute;
	top:217px;
	left:196px;
    opacity: 0;
}
.disan-intr p{
    width: 254px;
    line-height: 20px;
    color: #aba7a5;
    font-size: 14px;
    margin: 5px auto;
}
.disan-intr h3{
	color: #34241c;
    font-size: 16px;
    width: 160px;
    line-height: 26px;
	margin: 5px auto;
	text-align: center;
}
.disan-intr div{
	width: 283px;
	height: 434px;
	background:url(img/3/renwubeijing.png) no-repeat;
}
.disan-intr .bor{
    height: 342px;
    overflow: hidden;
    margin-bottom: 5px;}
.disan-intr img{
	display: block;
    margin: 14px auto;
    width: 254px;
    height: 406px;
}
.disan-intr-cha1{
	float: left;
	opacity: 0;
}
.disan-intr-cha2{
	float: left;
	margin-left:35px;
	opacity: 0;
}
.disan-intr-cha3{
	float: left;
	margin-left:35px;
	opacity: 0;
}
.disan-intr-cha4{
	float: left;
	margin-left:35px;
	opacity: 0;
}
/*第三介绍结束*/

/*第四介绍开始*/
.disi{
	width: 1580px;
	height: 889px;
	background: url(img/4/beijing.jpg) no-repeat;
	position: relative;
}
.disi .disi-title{
	width: 597px;
	height: 99px;
	margin: 0 auto;
	background: url(img/4/biaoti.png) no-repeat;
	opacity: 0;
}
.disi .zuoce{
	width: 199px;
	height: 271px;
	position: absolute;
	top: 272px;
	left:196px;
	background: url(img/4/zuoce.png) no-repeat;
	display: none;
}

.disi .youce{
	width: 199px;
	height: 271px;
	position: absolute;
	top: 272px;
	right: 196px;
    background: url(img/4/youce.png) no-repeat;
    display: none;
}
.disi-pic{
	width: 655px;
	height: 463px;
	position: absolute;
	top: 210px;
	left: 473px;
	background: url(img/4/tubeijing.png) no-repeat;
	opacity: 0;
}
.disi-pic img{
	border:2px solid white;
	margin:55px 64px;
}
.disi-pic p{
	position: absolute;
    bottom: 17px;
    left: 60px;
    color: #644f26;
    font-size: 14px;
}
/*第四介绍结束*/



/*foot?aê?*/

.foot{
    background: url("img/sp.png") top center no-repeat ;
    height: 180px;
    width: 1580px;
    margin: 0 auto;
    position: relative;
}

.foot #share{
  	display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    z-index: 20;
    text-align: center;
    background: #000000;
}

.foot .share6{
    position: relative;
    width: 460px;
    height: 20px;
    margin: 0 auto;
}
.foot .share-txt{
    float: left;
    margin-right: 10px;
    color: #82a0b8;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.foot .share-btn{
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}
.foot .share-btn li{
    float: left;
}

.foot .share-btn  a{
    display: block;
    cursor:pointer;
    margin-right: 20px;
   color: #82a0b8;
    height: auto;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
    width: 100%;
}


.foot #copyRight{
    width: 100%;
    height: 125px;
    background: #000000;
    position: absolute;
    padding-bottom: 15px;
    bottom: 0;
}
/*foot?áê?*/
.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.share6 span{
        display: inline-block;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}
.share6 em {
        margin-left: 3px;
        display: inline-block;
    font-style: normal;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
        text-decoration: none;
    font-weight: 400;
    text-align: left;
    font-family: simSun,Arial;
}
.share6-clearfix {
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
}

#copyRight {
    width: 100%;
    height: 125px;
    background: #c3d8e2;
    position: absolute;
    padding-bottom: 15px;
    bottom: 0;
    color: white;

}
#copyRight a {
    text-decoration: none;
    color: white;
}
