.alert_box{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000001;font-family:"Microsoft YaHei";
font-size:14px;opacity:0;display:none;transition:all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear}
.alert_box.show{opacity:1}
.alert_box .shadow{width:100%;height:100%;position:absolute;left:0;top:0;right:0;bottom:0}
.alert_box .alert_wrap{width:480px;position:absolute;top:50%;left:50%;margin-left:-240px;line-height:30px;margin-top:-255px}
.alert_box .alert_wrap .alertClose{width:36px;height:36px;position:absolute;top:0;right:0;z-index:100;cursor:pointer}
.alert_box .alert_wrap .alertClose i,.alert_box .alert_wrap .alertClose em{display:block;width:100%;height:100%;position:absolute;top:0;right:0}
.alert_box .alert_wrap .alertClose i{background:url(images/top_bg.jpg) no-repeat;cursor:pointer;z-index:2;background-position:-3px 3px}@media all and (min-width:0){
	.alert_box .alert_wrap .alertClose i{background-position:0 0}}
.alert_box .alert_wrap .alertClose em{border-radius:0 0 0 100%;z-index:1;transition:all .2s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;-ms-transition:all .2s ease}
.alert_box .alert_wrap .alert_main{padding:55px 30px 90px;position:relative;min-height:110px}
.alert_box .alert_wrap .alert_main .tit{margin-bottom:5px}
.alert_box .alert_wrap .alert_main .text{width:418px;font-size:14px;height:42px;line-height:42px;outline:0;padding:0 5px;-webkit-appearance:none}
.alert_box .alert_wrap .alert_main .btns_wrap{position:absolute;right:30px;bottom:30px;z-index:100;overflow:hidden}
.alert_box .alert_wrap .alert_main .btns_wrap .btns{width:120px;height:50px;display:block;float:right;margin-left:23px;text-align:center;line-height:50px;font-size:18px;transition:all .2s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;-ms-transition:all .2s ease}
.alert_box .shadow{-webkit-opacity:.6;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60);background:#000}
.alert_box .alert_wrap{color:#3c3c3c;background:#fff}
.alert_box .alert_wrap .alert_main{}.alert_box .alert_wrap .alert_main .tips{color:#f66960}
.alert_box .alert_wrap .alert_main .text{color:#3c3c3c;border:1px solid #ccc}
.alert_box .alert_wrap .alert_main input::-webkit-input-placeholder{color:#ccc}
.alert_box .alert_wrap .alert_main input:-moz-placeholder{color:#666}
.alert_box .alert_wrap .alert_main input::-moz-placeholder{color:#666}
.alert_box .alert_wrap .alert_main input:-ms-input-placeholder{color:#ccc}
.alert_box .alert_wrap .alert_main .labelPlaceholder{color:#ccc;font-size:12px;text-align:left}
.alert_box .alert_wrap .alert_main .btns{color:#fff}
.alert_box .alert_wrap .alert_main .btns.btnsCancle{background-color:#b7b7b7}
.alert_box .alert_wrap .alert_main .btns.btnsCancle:hover{background-color:#c3c3c3}
.alert_box .alert_wrap .alertClose em{background-color:#5084cb}
.alert_box .alert_wrap .alertClose:hover em{background-color:#6898da}
.alert_box .alert_wrap .alert_main .key{color:#5084cb}
.alert_box .alert_wrap .alert_main .key:hover{color:#6898da}
.alert_box .alert_wrap .alert_main .btns.btnsConfirm{background-color:#5084cb}
.alert_box .alert_wrap .alert_main .btns.btnsConfirm:hover{background-color:#6898da}
.alert_box.alert_box_green .alert_wrap .alertClose em{background-color:#5cb85c}
.alert_box.alert_box_green .alert_wrap .alertClose:hover em{background-color:#329f32}
.alert_box.alert_box_green .alert_wrap .alert_main .key{color:#5cb85c}
.alert_box.alert_box_green .alert_wrap .alert_main .key:hover{color:#329f32}
.alert_box.alert_box_green .alert_wrap .alert_main .btns.btnsConfirm{background-color:#5cb85c}
.alert_box.alert_box_green .alert_wrap .alert_main .btns.btnsConfirm:hover{background-color:#329f32}
.alert_box.alert_box_skyblue .alert_wrap .alertClose em{background-color:#5bc0de}
.alert_box.alert_box_skyblue .alert_wrap .alertClose:hover em{background-color:#4ca9c4}
.alert_box.alert_box_skyblue .alert_wrap .alert_main .key{color:#5bc0de}
.alert_box.alert_box_skyblue .alert_wrap .alert_main .key:hover{color:#4ca9c4}
.alert_box.alert_box_skyblue .alert_wrap .alert_main .btns.btnsConfirm{background-color:#5bc0de}
.alert_box.alert_box_skyblue .alert_wrap .alert_main .btns.btnsConfirm:hover{background-color:#4ca9c4}
.alert_box.alert_box_yellow .alert_wrap .alertClose em{background-color:#f0ad4e}
.alert_box.alert_box_yellow .alert_wrap .alertClose:hover em{background-color:#d4902f}
.alert_box.alert_box_yellow .alert_wrap .alert_main .key{color:#f0ad4e}
.alert_box.alert_box_yellow .alert_wrap .alert_main .key:hover{color:#d4902f}
.alert_box.alert_box_yellow .alert_wrap .alert_main .btns.btnsConfirm{background-color:#f0ad4e}
.alert_box.alert_box_yellow .alert_wrap .alert_main .btns.btnsConfirm:hover{background-color:#d4902f}
.alert_box.alert_box_red .alert_wrap .alertClose em{background-color:#d9534f}
.alert_box.alert_box_red .alert_wrap .alertClose:hover em{background-color:#cb433f}
.alert_box.alert_box_red .alert_wrap .alert_main .key{color:#d9534f}
.alert_box.alert_box_red .alert_wrap .alert_main .key:hover{color:#cb433f}
.alert_box.alert_box_red .alert_wrap .alert_main .btns.btnsConfirm{background-color:#d9534f}
.alert_box.alert_box_red .alert_wrap .alert_main .btns.btnsConfirm:hover{background-color:#cb433f}