@charset "gb2312";

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu {
    margin: 0;
    padding: 0
}

body {
    padding: 0;
    margin: 0;
}

html,body,fieldset,img,iframe,abbr {
    border: 0
}

li {
    list-style: none
}

textarea {
    overflow: auto;
    resize: none
}

a,button {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,em,strong,b {
    font-weight: 700;
}

a,a:hover {
    text-decoration: none
}

html,body {
    width: 100%;
    font-family: 'Microsoft Yahei'
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}


.w{
    width: 968px;
    margin: 0 auto;
}

/*顶部开始*/
.top{
    position: relative;
    width: 100%;
    height: 41px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    border-bottom: 2px solid #cd3333;
}
.top-1{
    height: 41px;
}
.list li {
    float: left;
    width: 90px;
    height: 41px;
    line-height: 41px;
}
.list li a{
    color: #fff;
}
/*.list li a:hover{*/
    /*color: #cd3333;*/
/*}*/
.list .myan{
    color: #cd3333 !important;
}
.home1{
    width: 20px;
    height: 35px;
    position: absolute;
    top:0px;
    margin-left: -25px;
    background: url("images/missevan_icons.png") -100px -1037px no-repeat;
}
.home2{
    float: right;
    position: relative;
    top: -3px;
    left:-18px;
    font-size: 10px;
    color: #cd3333;
    padding-left: 1px;
}
.list2 li{
    float: right;
    width: 96px;
    height: 41px;
    line-height: 41px;
}
.list2 li a{
    color: #fff;
}
.list2 li a:hover{
    color: #cd3333;
}
#tougao{
    background-color: #cd3333;
    color: #fff;
    width: 65px;
    /*margin: 0 15px;*/
    display: block;
    line-height: 2.75;
    text-align: center;
}
.list2-t{
    display:none;
    position: absolute;
    top: 48px;
    right: 230px;
    width: 200px;
    heigth: 31px;
    line-height: 31px;
    font-size: 14px;
    font-weight: bolder;
    -webkit-box-shadow: 2px 2px 5px #000;
    -moz-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    background-color: #000;
    z-index: 14;
}
.list2-t-1{
    position: absolute;
    left: 163px;
    top: -17px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
}
.list2-t-2{
    position: absolute;
    width: 200px;
    height: 20px;
    top: -20px;
}
.list2-t-3{
    text-align: left;
    margin: 2px 0 0 10px;
    color: #aaa;
    width: 180px;
    font-size: 15px;
    border-bottom: 1px solid #cd3333;
    font-weight: 400;
}
.list2-t-4{
    position: relative;
    text-align: center;
    float: left;
    width: 100px;
}
.clear{
    clear:both;
}
.list2-t-5{
    text-align: left;
    margin: 2px 0 0 10px;
    color: #aaa;
    width: 180px;
    font-size: 15px;
    border-bottom: 1px solid #cd3333;
    font-weight: 400;
}
#ts{
    position: relative;
    margin-right: 20px;
}
#shousuo{
    position: absolute;
    right: -5px;
    top:6px;
    width: 100px;
    height: 25px;
    display: inline;
    border-radius: 20px;

}
#but{
position: absolute;
    top:12px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url(images/missevan_icons.png) -157px -45px no-repeat;
    border: 0;
}
#even{
    width: 100%;
    background: url(images/bj.jpg) no-repeat;
    padding-bottom: 180px;
    background-position: center top;
    overflow-x: hidden;
}
#evenhead{
    position: relative;
    height: 56px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
}
.nav{
    display: inline-block;
    width: 148px;
    height: 58px;
    padding: 11px 0;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.navyan {
    color: yellow;
}
.even-cen{
position: relative;
}
.even-cen .logo{
    width: 286px;
    height: 65px;
}
.even-ban{
    position: relative;
    height: 688px;
}
.even-ban-in{
    position: absolute;
    width: 1800px;
    height: 688px;
    left: -416px;
}
.even-ban-in-1{
    position: absolute;
    top:-120px;
    left:-20px;
    width: 1800px;
    height: 728px;
    background:url(images/cloud_bg.png) no-repeat;
}
.ban-tu{
    position: relative;
}
.ban-left{
    position: absolute;
    left: -350px;
    width: 609px;
    height: 628px;
    background: url(images/left.png) no-repeat;
}
.ban-right{
    position: absolute;
    right: -500px;
    top:-90px;
    width: 662px;
    height: 859px;
    background: url(images/right.png) no-repeat;

}
#zhuanpan{
    position: absolute;
    top:-70px;
    left: 519px;
    width: 762px;
    height: 762px;
    background: url(images/umbrella.png) no-repeat;
    transform: rotate(30deg);
    opacity: 0;
}
.ban-yun{
    position: relative;
}
.yun-left{
    position: absolute;
    top:540px;
    left: -200px;
    width: 248px;
    height: 94px;
    background: url(images/cloud_left.png) no-repeat;
}
.yun-right{
    position: absolute;
    top:-30px;
    right: -200px;
    width: 253px;
    height: 89px;
    background: url(images/cloud_right.png) no-repeat;
}
.shengkong{
    position: absolute;
    top:48px;
    left: 542px;
    width: 716px;
    height: 347px;
    background: url(images/slogan.png) no-repeat;
    opacity: 0;
}
.dianji{
    position: absolute;
    top:436px;
    left: 543px;
    width: 716px;
    height: 70px;
    text-align: center;
    opacity: 0;
}
.dianji-left{
    display: inline-block;
    width: 211px;
    height: 70px;
    border: 0;
    background: url(images/dian.png) no-repeat;
    cursor: pointer;
    margin: 0 20px;
}
.dianji-right{
    display: inline-block;
    width: 211px;
    height: 70px;
    border: 0;
    background: url(images/dian.png) -231px 0 no-repeat;
    cursor: pointer;
}
.homepage{
    position: relative;
    padding-top: 360px;
}
.page{
    position: relative;
    width: 1400px;
    left: -216px;
    top:0;
}
.page-in{
    /*margin-top: 850px;*/
    height: 344px;
    background: url(images/homepage-intro.png)  no-repeat top;
    background-position: 408px 12px;
}
.page-in1{
    position: absolute;
    top: -28px;
    left: 66px;
    display: inline-block;
    width: 337px;
    height: 367px;
}
.active{
    display: block;
}
.work{
    height: 100%;
    background: url(images/works-tabs.png) no-repeat;
}
.works{
    display: none;
    height: 100%;
    background: url(images/works-tabs.png) no-repeat;
    background-position: -337px 0;
}
.btn1{
    position: absolute;
    top: 134px;
    left: 61px;
    display: inline-block;
    width: 38px;
    height: 74px;
    cursor: pointer;
}
.btn2{
    position: absolute;
    top: 50px;
    left: 61px;
    display: inline-block;
    width: 38px;
    height: 74px;
    cursor: pointer;
}
.butto{
    position: absolute;
    top: 226px;
    left: 520px;
    height: 54px;
}
.butto-ico{
    position: absolute;
    top: 16px;
    left: 20px;
    width: 22px;
    height: 22px;
    margin: 0;
    background: url(images/icon.png) no-repeat;
    cursor: pointer;
}
.butto-text{
    float: left;
    width: 172px;
    height: 32px;
    line-height: 38px;
    padding: 8px 12px 8px 46px;
    font-size: 16px;
    border: 3px solid #000;
    border-right: none;
    border-radius: 3px 0 0 3px;
}
.butto-but{
    width: 181px;
    display: inline-block;
    height: 54px;
    border: 0;
    -webkit-appearance: none;
    background: url(images/dian.png) no-repeat;
    background-position: -240px -389px;
    cursor: pointer;
}
.butto-but1{
    width: 185px;
    display: inline-block;
    height: 54px;
    border: 0;
    -webkit-appearance: none;
    background: url(images/dian.png) no-repeat;
    background-position: 0 -221px;
    cursor: pointer;
}
.pagew{
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0 20px;
}
.pagew-in-1-1{
    display: inline-block;
    position: relative;
    width: 272px;
    margin-bottom: 20px;
}
.pagew-in-1-1-1{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 64px;
    height: 64px;
    background: url(images/xiazai1.png) no-repeat;
    z-index: 5;
}
.but11{
    position: absolute;
    top: 15px;
    left: 19px;
    width: 36px;
    height: 36px;
    margin: 0;
    background: url(images/xiazai2.png)no-repeat;
    border: 0;
}
.pagew-in-1-1-2{
    height: 198px;
    width: 272px;
    margin-bottom: 10px;
    position: relative;
    background: url(images/work-box-bg.png) no-repeat;
}
.dongmantu{
    position: absolute;
    height: 158px;
    width: 232px;
    left: 20px;
    top: 20px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.dongname{
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
}
.dongname a{
    color: #fff;
}
.toupiao{
    display: block;
    width: 264px;
    height: 54px;
    padding: 10px 60px;
    margin: 0 4px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border-radius: 5px;
    background: url(images/dian.png) no-repeat;
    background-position: -464px -222px;
    transition: none;
    border: 0;
}
.fanye{
    display: block;
    position: relative;
    height: 42px;
    line-height: 42px;
    margin: 20px 0 50px;
    text-align: center;
    width: 928px;

}
.fanye li{
    display: inline-block;
    margin: 0 13px;
}
.fanye1{
    height: 24px;
    width: 24px;
    margin: 9px 2px;
    font-size: 0;
    background-image: url(images/111.png);
    background-position: 50%;
    background-repeat: no-repeat;

}
.fanye2{
    height: 24px;
    width: 10px;
    font-size: 0;
    margin: 9px 2px;
    background-image: url(images/222.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
.pa{
    height: 24px;
    width: 10px;
    font-size: 0;
    margin: 9px 2px;
    background-image: url(images/333.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
.fanyeend{
    height: 24px;
    width: 24px;
    margin: 9px 2px;
    font-size: 0;
    background-image: url(images/444.png);
    background-position: 50%;
    background-repeat: no-repeat;
}

